.App {
  text-align: center;
  color: #106d75;
}


 .navbar-toggler .custom-toggler{
  border-color: #106d75;
}
.navbar-default .navbar-brand {
  color:#106d75;
  font-weight: bold;
  font-size: 2.5rem;
}
.navbar-default .navbar-brand:hover{
  color:#106d75;
}
.menu-active {
  color: #106d75;
  font-weight: bold;
  border-bottom: 1px solid #106d75;
}
 
.btn-get-started {
 border-radius: 50px!important;
  border: 0.1rem solid #106d75;
  color: #106d75;
  transition: 0.7s;
  text-decoration: none;
  font-size: 1rem;
}
.btn-get-started:hover {
  transition: 1s;
  color: #ffffff;
  background-color: #106d75;
}

 .myrow {
   color: #106d75;
   padding : 10rem 2rem;
 }

 hr{
   margin: 3rem;
 }

 .form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.05rem #106d75;
} 

ion-icon {
  color: #106d75;
  width: 3rem;
  height: 3rem;
}