.App {
  text-align: center;
}


.navbar-default .navbar {
  background-color: #35bd0b;
}
.mybrand{
 font-size: 2rem;
 
}
.navbar-default .navbar-brand {
  color:#35bd0b;
}
.menu-active {
  font-weight: bold;
  border-bottom: 1px solid #35bd0b;
}